body{
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
/* Header Style */
header{
    background-image:linear-gradient(320deg, #fca80046, #f8466130 );
    
    
}
.main-header{
    display: flex;
    justify-content: center;
}
.header-style{
    width: 1200px;
    background-color: white;
    margin-top: 7px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px white;
    
}
.header{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
}
.left-header{
    width: 350px;
} 
.left-header img{
    width: 150px;
    margin-top: 10px;
}
.right-header{
    width: calc(100% - 350px);
    margin-top: 10px;
}
.right-header a{
    text-decoration: none;
    color: #F84661;
    font-size: 18px;
    margin-left: 27px;
}
.btn{
    background-color: #F86E46;
    color: White;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 30px;
}

/* Banner section */
.banner-div{
    display: flex;
    justify-content: center; 
    margin-top: 40px;
}
.banner{
    width: 1200px;
    display: grid;
    
} 

.banner-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.left-banner{
    margin-top: 70px;
    
} 
.left-banner h1{
    font-size: 50px;
}
.btn-learn{
    border: none;
    margin-left: 40px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px grey;
    color:#F86E46 ;
    font-size: 20px;
    font-weight: 700; 
    border-radius: 10px;
} 
.top-btn{
    margin-top: 30px;
} 
.right-banner{
   margin-left: 100px;
}

/* Blog section */ 
.blog-section{
    width: 1200px;
    
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-column-gap: 20px; 
   
    
}
.blog{
    border: 1px solid #F84661;
   border-radius: 20px;
   box-shadow: 0px 0px 10px 3px #F86E46;
   
}
.blog img{
    width: 350px; 
    margin-left: 17px;
    margin-top: 10px;
}
.img-blog{
  transform: translate(0%,-220%);  
    position: absolute;
}
    
.img-blog p{
    background-image: linear-gradient(300deg,rgb(107, 102, 102) 10%,white 90%);
    border-radius: 50%;
   display: grid;
   justify-content: center;
   align-items: center;
    width: 60px;
    height: 60px;
    font-size: 12px;
    color: #F84661;
    transform: rotate(-40deg);
}

.img-blog h2{
   text-transform: uppercase;
   transform: rotate(-90deg); 
  position: relative;
  font-size: 25px;
  left: -60px;
  bottom: -80px;
  color: #d8cccc;
   
   
}
.font-awesome{
    display: flex;
    justify-content: center;
    
}
.font-awesome p{
   color: #F84661;
    margin-right: 20px;
} 
.h3{
    
    color: #F84661; 
    font-size: 30px; 
} 
.font-blog{
   text-align: center;
   margin-bottom: 20px;
}
.font-blog p{
    display: inline;
    margin-left: 2px;
    margin-right: 2px; 
    background-color: #FCA800; 
    padding: 2px 3px;
    border-radius: 15px; 
    color: white;
   
}

.icon{
    margin-left: 15px ;
    margin-right: 15px;
    font-size: 25px;
    
} 
.profile-btn{
    border:1px solid #F84661;
    padding: 10px 30px; 
    color: #F84661;
    background-color: white; 
    border-radius: 5px;
    margin-right: 20px;
} 
.invite-btn{
    border: none;
    padding: 10px 20px; 
    color: #ffffff;
    background-image: linear-gradient(320deg, #FCA800, #F84661); 
    border-radius: 5px; 
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
} 

/* Content setion */ 
.container{
    background-image:linear-gradient(320deg,  #f8466130, #fca80046 );
    padding-bottom: 30px;
}
.main-content{
    display: flex;
    justify-content: center; 
    margin-top: 70px;
} 
.content-section{
    width: 1200px;
} 

.contents{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.content img{
    width: 50px;
    margin-left: 45%; 
    margin-top: 20px;
    
} 
.content h2{ 
    text-align: center;
}
.content p{
    text-align: center;
}

/* Div section */
.div-sector{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
} 
.div-section{
    width: 1200px;
}
.divs{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-column-gap: 40px;
} 
.div{
    box-shadow: 0px 0px 5px 5px rgb(237, 228, 228);
    padding: 25px 5px;
    text-align: center; 
    border-radius: 10px;
} 
.div h2{
    font-size: 30px;
} 

/* Social media */ 
.yahoo{
    background-image:linear-gradient(320deg,   #fca80046,#f8466130 );
    padding-bottom: 40px;
}
.social-media{
    display: flex;
     justify-content: center;
}
.social{
    width: 1200px;
} 
.media img{ 
    width: 90px;
    margin: 10px 70px;
}
.another-media{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.another-media img{
    width: 70px;
    margin: 0px 90px;
} 
.media-another img{
    width: 90px;
    margin: 0px 100px;
}

/* Form section */
.form-section{
    display: flex;
    justify-content: center;
    background-image:linear-gradient(320deg,   #fca80046,#f8466130 ); 
    margin-top: 50px;
    padding-bottom: 30px;
}
.forms{
    width: 1200px;
}
.form{
    display: flex;
    
} 
.write{
    text-align: center;
}
.media-login{
    display: flex; 
    justify-content: center;
}
.media-login h4{
    margin-right: 20px;
    margin-left: 20px; 
    box-shadow: 0px 0px 4px 0px grey; 
    padding: 10px 25px;
    border-radius: 10px; 
    background-color: #fff;
} 
form{
    display: grid;
    justify-content: center;
}
input{
    margin-top: 20px;
    border: none;
    border: 1px solid #F84661; 
    padding: 10px 40px;
    font-size: 25px;
    border-radius: 10px;
    background-image: radial-gradient(white,rgb(222, 218, 218));
    
}
.fa-facebook{
    color: #1877F2;
    font-size: 23px;
    margin-right: 10px;
}
.media-login img{
   width: 23px;
    
   margin-right: 10px;
} 

form p{
    text-align: right;
    color: #F84661;
    font-size: 18px;
    
} 
.left-form img{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.right-form{
    display: grid;
    justify-content: center; 
    box-shadow: 0px 0px 5px 0px grey;
    background-color: #f1c7b28f;
    width: 50%;
    border-radius: 10px; 
    margin-left: 100px; 
    margin-top: 50px;
}
.last-part p{
    font-size: 20px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;

} 
.another-invite{ 
    margin-left: 22%;
    padding: 2% 20%; 
    
    
}

/* Footer section  */